{%extends "blog/base.html"%}
{%block content%}
  <!-- <h1>Welcome to Homepage of inheritance!</h1> -->
  <div class="centerstage">
    <div class="jumbotron">
      {%for post in post_list%}
        <div class="post">
          <h1> <a href="{% url 'post_detail' pk=post.pk%}">{{post.title}}</a> </h1>
          <div class="date">
            <p>Published on: {{post.Published|date:"D M Y"}}</p>
          </div>
          <a href="{%url 'post_detail' pk=post.pk %}">Comments: {{post.approve_comments.count}}</a>
        </div>
      {%endfor%}

    </div>
  </div>

{%endblock%}
