{%extends "blog/base.html"%}
{%block content%}
  <!-- <h1>Welcome to Homepage of inheritance!</h1> -->
  <div class="centerstage">
    <div class="jumbotron">
      {%for post in posts%}
        <div class="post">
          <h1> <a href="{% url 'post_detail' pk=post.pk%}">{{post.title}}</a> </h1>
          <div class="date">
            <p>Created on: {{post.reated_date|date:"D M Y"}}</p>
          </div>
          <p>{{post.text|truncatechars:200}}</p>
        </div>
      {%endfor%}

    </div>
  </div>

{%endblock%}
